@import '../../../app/modules/shared/_kfcore-less/variables';

//Proxima Nova Regular 
@font-face {
    font-family: 'ProximaNova';
    font-weight: @_regular-font-weight;
    font-style: normal;
    src: url('./33C8E4_2_0.eot');
    src: url('./33C8E4_2_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_2_0.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: @_regular-font-weight;
    font-style: italic;
    src: url('./33C8E4_3_0.eot');
    src: url('./33C8E4_3_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_3_0.woff2') format('woff2');
}

//Proxima Nova Bold  
@font-face {
    font-family: 'ProximaNova';
    font-weight: @_bold-font-weight;
    font-style: normal;
    src: url('./33C8E4_0_0.eot');
    src: url('./33C8E4_0_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_0_0.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: @_bold-font-weight;
    font-style: italic;
    src: url('./33C8E4_1_0.eot');
    src: url('./33C8E4_1_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_1_0.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: @_semi-bold-font-weight;
    font-style: normal;
    src: url('./33C8E4_4_0.eot');
    src: url('./33C8E4_4_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_4_0.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: @_semi-bold-font-weight;
    font-style: italic;
    src: url('./33C8E4_5_0.eot');
    src: url('./33C8E4_5_0.eot?#iefix') format('embedded-opentype'),url('./33C8E4_5_0.woff2') format('woff2');
}
