<div>
  <h2 kf-text>{{ 'clientSearchHeader' | translate }}</h2>
  <div class="ui-g">
    <div class="ui-g-12">
      <button kf-button (click)="createClient()" class="right">{{ 'createClient' | translate }}</button>
    </div>
    <div class="ui-g-12">
      <kf-input class="search-input" type="search" (valueChange)="inputChange($event)"></kf-input>
    </div>
  </div>
  <kf-filtered-search-results
    [searchResultsDataService]="clientsService"
    [dataServiceCollectionsAttribute]="'clientInfo'"
    [columnsMetadata]="columnsMetadata"
    [searchResultsEntityKey]="'Clients'"
    [noSearchResultsEntityKey]="'YouHaveNoClients'"
  ></kf-filtered-search-results>
</div>
