
/* hacks for styles */
:host ::ng-deep {
  .dropdown {
    min-width: 400px;
  }

  .ui-dialog {
    padding: 0;
  }
}

.table-header {
  height: 50px;
}

.actions {
  height: 60px;

  td {
    vertical-align: middle;
  }

  a, label {
    padding-right: 15px;
    font-size: 14px;
    color: #007da4
  }

  input {
    display: none;
  }

  label {
    margin: 0;
    cursor: pointer;
  }

  label:hover {
    text-decoration: underline;
  }
}
