<div ui-g ui-fluid>
  <div class="ui-g-12">
    <h2 kf-text>{{ 'payTitle' | translate }}</h2>
  </div>
  <div class="form-group ui-g-12">
    <div>
      <span kf-text>{{ 'clientsList' | translate }}</span>
    </div>
    <div>
      <kf-search-dropdown
        [(ngModel)]="selectedClient"
        (ngModelChange)="update()"
      >
        <kf-dropdown-item
          *ngFor="let client of clients"
          [label]="client.name"
          [value]="client"
        ></kf-dropdown-item>
      </kf-search-dropdown>
    </div>
  </div>
  <div class="form-group ui-g-12">
    <div>
      <span kf-text>{{ 'countriesList' | translate }}</span>
    </div>
    <div>
      <kf-search-dropdown
        [(ngModel)]="selectedCountry"
        (ngModelChange)="update()"
      >
        <kf-dropdown-item
          *ngFor="let country of countries"
          [label]="country.name"
          [value]="country"
        ></kf-dropdown-item>
      </kf-search-dropdown>
    </div>
  </div>
  <div *ngIf="reports != null" class="form-group ui-g-12">
    <p-table [value]="reports">
      <ng-template pTemplate="header">
        <tr class="table-header">
          <th kf-text>{{ 'reportType' | translate }}</th>
          <th kf-text>{{ 'image' | translate }}</th>
          <th kf-text>{{ 'report' | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-report>
        <tr class="actions">
          <td kf-text>{{ report.name }}</td>
          <td kf-text>
            <span *ngIf="report.imageURL">
              <a kf-text href="{{report.imageURL}}" target="_blank" rel="noopener"><span class="fa fa-eye"></span> {{ 'view' | translate }}</a>
              <input [attr.reporttype]="report.type" [attr.resourcetype]="'IMAGE'" id="reupload-image-{{report.type}}" type="file" (change)="reupload($event)" name="file" />
              <label kf-text for="reupload-image-{{report.type}}"><span class="fa fa-upload"></span> {{ 'upload' | translate }} </label>
            </span>
            <a kf-text *ngIf="report.imageURL == null">
              <input [attr.reporttype]="report.type" [attr.resourcetype]="'IMAGE'" id="upload-image-{{report.type}}" type="file" (change)="upload($event)" name="file" />
              <label kf-text for="upload-image-{{report.type}}"><span class="fa fa-upload"></span> {{ 'upload' | translate }} </label>
            </a>
          </td>
          <td kf-text>
            <span *ngIf="report.reportURL">
              <a kf-text href="{{report.reportURL}}" target="_blank" rel="noopener"> <span class="fa fa-eye"></span> {{ 'view' | translate }} </a>
              <input [attr.reporttype]="report.type" [attr.resourcetype]="'REPORT'" id="reupload-report-{{report.type}}" type="file" (change)="reupload($event)" name="file" />
              <label kf-text for="reupload-report-{{report.type}}"><span class="fa fa-upload"></span> {{ 'reupload' | translate }} </label>
            </span>
            <a kf-text *ngIf="report.reportURL == null">
              <input [attr.reporttype]="report.type" [attr.resourcetype]="'REPORT'" id="upload-report-{{report.type}}" type="file" (change)="upload($event)" name="file" />
              <label kf-text for="upload-report-{{report.type}}"><span class="fa fa-upload"></span> {{ 'upload' | translate }} </label>
            </a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-confirmDialog header="{{ 'confirmation' | translate }}"></p-confirmDialog>
