<div>
  <h2 kf-text>{{ 'userSearchHeader' | translate }}</h2>
  <kf-meta-search-filter
    [moduleName]="'USER_SEARCH'"
    [metaSearchDataService]="usersMetaService"
    (metaSearchFilterChange)="searchFilterChange($event)"
    [filterTypes]="['Roles']"
  ></kf-meta-search-filter>
  <kf-filtered-search-results
    [searchString]="searchString"
    [appliedFilters]="appliedFilters"
    [searchResultsDataService]="usersService"
    [dataServiceCollectionsAttribute]="'users'"
    [columnsMetadata]="columnsMetadata"
    [searchResultsEntityKey]="'Users'"
    [noSearchResultsEntityKey]="'YouHaveNoUsers'"
  ></kf-filtered-search-results>
</div>
