
.padded {
  padding-left: 10px;
  padding-right: 10px;
}

.spinner {
  background-color: transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -47px;
  margin-left: -47px;
  z-index: 20001;
}

.blocker {
  height: 100vh;
  width: 100%;
  z-index: 20000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  opacity: 0.5;
}
