<div>
  <ng-progress hidden [spinner]="false" (started)="block()" (completed)="unblock()"></ng-progress>
  <kf-svg-spinner *ngIf="isBlocked" class="spinner"></kf-svg-spinner>
  <div *ngIf="isBlocked" class="blocker"></div>
  <kf-hubint-notification></kf-hubint-notification>
  <kf-hubint-navigation *ngIf="showNavigation"></kf-hubint-navigation>
  <div [class.padded]="showNavigation">
    <router-outlet></router-outlet>
  </div>
</div>
