<div>
  <button (click)="back()" type="submit" kf-button><span class="fa fa-long-arrow-left"></span>{{ 'back' | translate }}</button>
  <form #form="ngForm" (change)="formEventsHandler($event)" class="ui-g" *ngIf="!error && !loading">
    <h2 kf-text *ngIf="isNew()">{{ 'createClient' | translate }}</h2>
    <h2 kf-text *ngIf="!isNew()">{{ data.clientName }}</h2>
    <!-- client info -->
    <div class="form-group ui-g-12" *ngIf="isNew()">
      <div class="ui-g-2 label" kf-text><span>{{ 'clientName' | translate }}</span></div>
      <kf-input class="ui-g-4" [(value)]="data.clientName" [(ngModel)]="data.clientName" [disabled]="!isNew()" name="clientName" required></kf-input>
    </div>
    <!-- temporary disabled
    <div class="form-group ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'sapClientId' | translate }}</span></div>
      <kf-input class="ui-g-4" [(value)]="data.sapClientId" [(ngModel)]="data.sapClientId" [disabled]="!isNew()" name="sapClientId" required></kf-input>
    </div>
    -->
    <!-- workday -->
    <div class="form-group ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'tenantURL' | translate }}</span></div>
      <kf-input class="ui-g-4" [(value)]="data.workdayDetails.tenantURL" [(ngModel)]="data.workdayDetails.tenantURL" [disabled]="data.workdayDetails.isPublished" name="tenantURL" required></kf-input>
    </div>
    <div class="form-group ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'tenantUserName' | translate }}</span></div>
      <kf-input class="ui-g-4" [(value)]="data.workdayDetails.tenantUserName" [(ngModel)]="data.workdayDetails.tenantUserName" [disabled]="data.workdayDetails.isPublished" name="tenantUserName" required></kf-input>
    </div>
    <div class="form-group ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'tenantPassword' | translate }}</span></div>
      <kf-input class="ui-g-4" [(value)]="data.workdayDetails.tenantPassword" [(ngModel)]="data.workdayDetails.tenantPassword" [disabled]="data.workdayDetails.isPublished" name="tenantPassword" [type]="'password'" required></kf-input>
    </div>
    <div class="form-group radio-buttons ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'chooseComp' | translate }}</span></div>
      <span kf-text class="ui-g-4">
        <input type="radio" id="CARS" value="CARS" name="CARS" [disabled]="data.workdayDetails.isPublished" [(ngModel)]="data.workdayDetails.ratingScale" required/>
        <label kf-text for="CARS">CARS</label>
        <input type="radio" id="BARS" value="BARS" name="BARS" [disabled]="data.workdayDetails.isPublished" [(ngModel)]="data.workdayDetails.ratingScale" required/>
        <label kf-text for="BARS">BARS</label>
      </span>
    </div>
    <div *ngIf="id != null" class="form-group ui-g-12">
      <div class="ui-g-2 label" kf-text><span>{{ 'isPublished' | translate }}</span></div>
      <span kf-text class="ui-g-4">{{ data.workdayDetails.publishedDate }}</span>
    </div>
    <!-- controls -->
    <div *ngIf="id == null" class="form-group ui-g-12">
      <button (click)="createClient()" type="button" [disabled]="!form.form.valid" kf-button>{{ 'createClient' | translate }}</button>
    </div>
    <div *ngIf="showUpdateControls()" class="form-group ui-g-12">
      <button (click)="updateClient()" type="button" [disabled]="!form.valid || !changed || data.workdayDetails.isPublished" kf-button>{{ 'updateClient' | translate }}</button>
      <button (click)="publishCompetencies()" type="button" [disabled]="!form.valid || data.workdayDetails.isPublished || changed" kf-button>{{ 'publishComp' | translate }}</button>
    </div>
  </form>
</div>
