.nav-header {
  height: 35px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  padding: 0px 10px;
  .nav-text {
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
  }
  a:hover {
    text-decoration:none;
  }
}

.nav-header-text {
  margin-left: 5px;
}

 /* hacks for p-sidebar styles */
:host ::ng-deep {
  .ui-widget-content {
    border: none !important;
  }

  .ui-sidebar-close {
    display: inherit !important;
  }

  .ui-menu {
    width: 100%;

    .ui-widget {
      font-family: 'Proxima Nova' !important;
    }

    .ui-menuitem-link {
      padding: 20px !important;
    }

    .ui-menuitem {
      padding: 0 !important;
    }

    .ui-submenu-header {
      display: none !important;
    }

    .ui-state-active  {
      background: inherit !important;
      font-weight: 600 !important;
    }
  }
}
