<div class="nav-header">
  <div>
    <a (click)="showMenu()"><span kf-text size="md" color="dark"><span class="fa fa-bars"></span></span> <span kf-text size="sm" color="dark" class="nav-text">{{ 'applications' | translate }}</span></a>
  </div>
  <div>
    <a (click)="logout()"><span kf-text size="md" color="dark"><span class="fa fa-sign-out"></span></span> <span kf-text size="sm" color="dark" class="nav-text">{{ 'logout' | translate }}</span></a>
  </div>
</div>
<p-sidebar [(visible)]="isMenuVisible" [baseZIndex]="10000">
  <div>
    <h3 kf-text class="nav-header-text">{{ 'selApp' | translate }}</h3>
  </div>
  <p-menu [model]="menuItems"></p-menu>
</p-sidebar>
