<div>
  <button (click)="back()" type="submit" kf-button><span class="fa fa-long-arrow-left"></span>{{ 'back' | translate }}</button>
  <form class="ui-g">
    <h2 kf-text>{{ 'Permissions' | translate }}</h2>
    <div class="form-group ui-g-12">
      <kf-input class="ui-g-2" [value]="user.firstName" [disabled]="true" label="{{ 'FirstLabel' | translate }}"></kf-input>
      <kf-input class="ui-g-2" [value]="user.lastName" [disabled]="true" label="{{ 'LastLabel' | translate }}"></kf-input>
      <kf-input class="ui-g-2" [value]="user.email" [disabled]="true" label="{{ 'EmailLabel' | translate }}"></kf-input>
      <kf-input class="ui-g-2" [value]="user.jobTitle" [disabled]="true" label="{{ 'jobTitle' | translate }}"></kf-input>
    </div>
  </form>
  <form #form="ngForm" class="ui-g" *ngIf="!error && !loading">
    <div class="form-group ui-g-12">
      <kf-toggle label="{{ 'workDayIntApp' | translate }}" [(ngModel)]="permissions.applications.WORKDAY_COMP" name="competencies"></kf-toggle>
    </div>
    <div class="form-group ui-g-12">
      <kf-toggle label="{{ 'payHubManageApp' | translate  }}" [(ngModel)]="permissions.applications.PAY_HUB_MANAGEMENT" name="payhub"></kf-toggle>
    </div>
    <div class="form-group ui-g-12">
      <kf-toggle label="{{ 'permsManageApp' | translate }}" [(ngModel)]="permissions.applications.USER_ADMINISTRATION" name="permissions"></kf-toggle>
    </div>
    <button (click)="update()" type="button" [disabled]="!form.valid || !form.dirty" kf-button>{{ 'updatePerms' | translate }}</button>
  </form>
</div>
